.col {
    flex: 1;
    background-color: blue;
    height: 10rem;
}

@media (max-width: 575px) {
    .xs-1 {
        flex: calc(1/12);
        flex-basis: calc(1/12);
    }

    .xs-2 {
        flex: calc(2/12);
        flex-basis: calc(2/12 * 100%);
    }

    .xs-3 {
        flex: calc(3/12);
        flex-basis: calc(3/12 * 100%);
    }
    
    .xs-4 {
        flex: calc(4/12);
        flex-basis: calc(4/12 * 100%);
    }
    
    .xs-5 {
        flex: calc(5/12);
        flex-basis: calc(5/12 * 100%);
    }
    
    .xs-6 {
        flex: calc(6/12);
        flex-basis: calc(6/12 * 100%);
    }

    .xs-7 {
        flex: calc(7/12);
        flex-basis: calc(7/12 * 100%);
    }

    .xs-8 {
        flex: calc(8/12);
        flex-basis: calc(8/12 * 100%);
    }

    .xs-9 {
        flex: calc(9/12);
        flex-basis: calc(9/12 * 100%);
    }

    .xs-10 {
        flex: calc(10/12);
        flex-basis: calc(10/12 * 100%);
    }

    .xs-11 {
        flex: calc(11/12);
        flex-basis: calc(11/12 * 100%);
    }

    .xs-12 {
        flex: calc(12/12);
        flex-basis: calc(12/12 * 100%);
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .sm-1 {
        flex: calc(1/12);
        flex-basis: calc(1/12 * 100%);
    }
    
    .sm-2 {
        flex: calc(2/12);
        flex-basis: calc(2/12 * 100%);
    }
    
    .sm-3 {
        flex: calc(3/12);
        flex-basis: calc(3/12 * 100%);
    }
    
    .sm-4 {
        flex: calc(4/12);
        flex-basis: calc(4/12 * 100%);
    }
    
    .sm-5 {
        flex: calc(5/12);
        flex-basis: calc(5/12 * 100%);
    }
    
    .sm-6 {
        flex: calc(6/12);
        flex-basis: calc(6/12 * 100%);
    }

    .sm-7 {
        flex: calc(7/12);
        flex-basis: calc(7/12 * 100%);
    }

    .sm-8 {
        flex: calc(8/12);
        flex-basis: calc(8/12 * 100%);
    }

    .sm-9 {
        flex: calc(9/12);
        flex-basis: calc(9/12 * 100%);
    }

    .sm-10 {
        flex: calc(10/12);
        flex-basis: calc(10/12 * 100%);
    }

    .sm-11 {
        flex: calc(11/12);
        flex-basis: calc(11/12 * 100%);
    }

    .sm-12 {
        flex: calc(12/12);
        flex-basis: calc(12/12 * 100%);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .md-1 {
        flex: calc(1/12);
        flex-basis: calc(1/12 * 100%);
    }
    
    .md-2 {
        flex: calc(2/12);
        flex-basis: calc(2/12 * 100%);
    }
    
    .md-3 {
        flex: calc(3/12);
        flex-basis: calc(3/12 * 100%);
    }
    
    .md-4 {
        flex: calc(4/12);
        flex-basis: calc(4/12 * 100%);
    }
    
    .md-5 {
        flex: calc(5/12);
        flex-basis: calc(5/12 * 100%);
    }
    
    .md-6 {
        flex: calc(6/12);
        flex-basis: calc(6/12 * 100%);
    }

    .md-7 {
        flex: calc(7/12);
        flex-basis: calc(7/12 * 100%);
    }

    .md-8 {
        flex: calc(8/12);
        flex-basis: calc(8/12 * 100%);
    }

    .md-9 {
        flex: calc(9/12);
        flex-basis: calc(9/12 * 100%);
    }

    .md-10 {
        flex: calc(10/12);
        flex-basis: calc(10/12 * 100%);
    }

    .md-11 {
        flex: calc(11/12);
        flex-basis: calc(11/12 * 100%);
    }

    .md-12 {
        flex: calc(12/12);
        flex-basis: calc(12/12 * 100%);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .lg-1 {
        flex: calc(1/12);
        flex-basis: calc(1/12 * 100%);
    }
    
    .lg-2 {
        flex: calc(2/12);
        flex-basis: calc(2/12 * 100%);
    }
    
    .lg-3 {
        flex: calc(3/12);
        flex-basis: calc(3/12 * 100%);
    }
    
    .lg-4 {
        flex: calc(4/12);
        flex-basis: calc(4/12 * 100%);
    }
    
    .lg-5 {
        flex: calc(5/12);
        flex-basis: calc(5/12 * 100%);
    }
    
    .lg-6 {
        flex: calc(6/12);
        flex-basis: calc(6/12 * 100%);
    }

    .lg-7 {
        flex: calc(7/12);
        flex-basis: calc(7/12 * 100%);
    }

    .lg-8 {
        flex: calc(8/12);
        flex-basis: calc(8/12 * 100%);
    }

    .lg-9 {
        flex: calc(9/12);
        flex-basis: calc(9/12 * 100%);
    }

    .lg-10 {
        flex: calc(10/12);
        flex-basis: calc(10/12 * 100%);
    }

    .lg-11 {
        flex: calc(11/12);
        flex-basis: calc(11/12 * 100%);
    }

    .lg-12 {
        flex: calc(12/12);
        flex-basis: calc(12/12 * 100%);
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .xl-1 {
        flex: calc(1/12);
        flex-basis: calc(1/12 * 100%);
    }
    
    .xl-2 {
        flex: calc(2/12);
        flex-basis: calc(2/12 * 100%);
    }
    
    .xl-3 {
        flex: calc(3/12);
        flex-basis: calc(3/12 * 100%);
    }
    
    .xl-4 {
        flex: calc(4/12);
        flex-basis: calc(4/12 * 100%);
    }
    
    .xl-5 {
        flex: calc(5/12);
        flex-basis: calc(5/12 * 100%);
    }
    
    .xl-6 {
        flex: calc(6/12);
        flex-basis: calc(6/12 * 100%);
    }

    .xl-7 {
        flex: calc(7/12);
        flex-basis: calc(7/12 * 100%);
    }

    .xl-8 {
        flex: calc(8/12);
        flex-basis: calc(8/12 * 100%);
    }

    .xl-9 {
        flex: calc(9/12);
        flex-basis: calc(9/12 * 100%);
    }

    .xl-10 {
        flex: calc(10/12);
        flex-basis: calc(10/12 * 100%);
    }

    .xl-11 {
        flex: calc(11/12);
        flex-basis: calc(11/12 * 100%);
    }

    .xl-12 {
        flex: calc(12/12);
        flex-basis: calc(12/12 * 100%);
    }
}

@media (min-width: 1400px) {
    .xxl-1 {
        flex: calc(1/12);
        flex-basis: calc(1/12 * 100%);
    }
    
    .xxl-2 {
        flex: calc(2/12);
        flex-basis: calc(2/12 * 100%);
    }
    
    .xxl-3 {
        flex: calc(3/12);
        flex-basis: calc(3/12 * 100%);
    }
    
    .xxl-4 {
        flex: calc(4/12);
        flex-basis: calc(4/12 * 100%);
    }
    
    .xxl-5 {
        flex: calc(5/12);
        flex-basis: calc(5/12 * 100%);
    }
    
    .xxl-6 {
        flex: calc(6/12);
        flex-basis: calc(6/12 * 100%);
    }

    .xxl-7 {
        flex: calc(7/12);
        flex-basis: calc(7/12 * 100%);
    }

    .xxl-8 {
        flex: calc(8/12);
        flex-basis: calc(8/12 * 100%);
    }

    .xxl-9 {
        flex: calc(9/12);
        flex-basis: calc(9/12 * 100%);
    }

    .xxl-10 {
        flex: calc(10/12);
        flex-basis: calc(10/12 * 100%);
    }

    .xxl-11 {
        flex: calc(11/12);
        flex-basis: calc(11/12 * 100%);
    }

    .xxl-12 {
        flex: calc(12/12);
        flex-basis: calc(12/12 * 100%);
    }
}